/* The container for the article cards */
#ArticleListResult div {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

/* Responsive grid layout for larger screens */
@media screen and (min-width: 768px) {
    #ArticleListResult div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    #ArticleListResult div {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
